<div class="flex flex-row items-center">
  <h2 class="mr-10 text-lg text-black">Список устройств</h2>
  <AdminPanelWeb.Components.Presentation.Hrefs.ButtonDefault.c href="/device/new" text="Добавить устройство"/>
</div>