<div class="flex flex-row items-center">
  <h2 class="mr-10 text-lg text-black">Список плэйлистов</h2>
  <AdminPanelWeb.Components.Presentation.Hrefs.ButtonDefault.c href="/playlist/new" text="Добавить плэйлист"/>
</div>